*{
    margin:0px;
    padding:0px;
}

nav{
    background-color:aqua;
    display:flex;
    justify-content:space-around;
    
}
nav a{
    text-decoration:none;
    font-size:25px;
}

img{
    height:200px;
}
#image_container{
    margin:5px;
    border:2px solid black;
    height:350px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#container{
    height:200px;
    width:400px;
    margin:5px;
    border:2px solid black;
    display:flex;
    justify-content: space-around;
}
.box{
    height:100px;
    width:100px;
    border:2px solid;
    margin:5px;
    flex-shrink: 0;
}
#box1{
    background-color:lightcoral;
}
#box2{
    background-color:lightskyblue;
    
}
#box3{
    background-color:lightpink;
    flex-shrink:2;
    flex-grow:2;
}

#media{
    height:50px;
    width:50px;
    margin:10px;
    background-color:green;
    border:2px solid;
}
@media screen and (min-width:300px) and (max-width:400px){
    #media{
        background-color:red;
    }
}
@media screen and (min-width:400px){
    #media{
        background-color:blue;
    }
}